.main {
    display: flex;
    padding: 0px 60px;
    gap: 50px;
}

.game-container {}

.container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.timetable {
    width: 40%;
    background-color: gray;
    position: sticky;
    top: 0
}

.btn-container {
    background-color: white;
    display: flex;
    padding: 10px 30px;
    margin: 0px 10px;
    border-radius: 8px;
}


@media screen and (max-width:768px) {
    .main {
        flex-direction: column;
    }

    .timetable {
        width: 100%;
        overflow: hidden;
        margin-top: 300px;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}