.game {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    position: relative;

}

.game img {
    margin: 10px;

    width: 250px;
    height: 150px;
}

.info {
    padding: 8px;
    margin-bottom: 30px;
}

.info h1 {
    margin: 0px;
}

.info p {
    margin-bottom: 30px;
}

.btn-cart {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    background-color: gray;
    border-radius: 0px 0px 14px 14px;
    transition: 0.5s all ease;
    padding: 20px;
}

.btn-cart p {
    font-size: 17px;
}

.btn-cart:hover {
    background-color: lightgray;
    color: black;
}

@media screen and (max-width:768px) {
    .main {
        flex-direction: column;
    }

    .game img {
        width: 95%;
        display: block;
    }

    .timetable {
        width: 100%;
        overflow: hidden;
        margin-top: 300px;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}