.question-container {
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    margin: 7% 2%;
    width: 94%;
}

.question {
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
    margin: 2%;
}

@media screen and (max-width:768px) {
    .question {
        width: 94%;
    }
}