.question-container {
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    margin: 80px 40px;
    width: 100%;
}

.question {
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
    margin: 15px 20px;
}

@media screen and (max-width:768px) {
    .question {
        width: 100%;
    }
}