.personal-info button {
    padding: 5px;
    border-radius: 15px;
    background-color: lightgray;
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    margin-right: 10px;
    background-color: lightgray;

}

.personal-info {
    display: flex;
}


.personal-info button:hover {
    background-color: white;
}